main{
  display: flex;
  justify-content: center;
  height: 100%;
  background-image: url(../assets/base-background.webp);
  background-repeat: no-repeat;
  background-clip:content-box;
  background-size: cover;
}
.chapters{
  display: flex;
  position: absolute;
  top:10%;
  width:910px;
  flex-wrap: wrap;
  gap:3px;
}

.chap{
  background-color: bisque;
  border-radius: 10px;
  width:fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  width: 300px;
  aspect-ratio: 5/4;
}

.chap1{
  background-image: url(../assets/EoC1MenuButton.webp);
}
.chap2{
  background-image: url(../assets/EoC2MenuButton.webp);
}
.chap3{
  background-image: url(../assets/EoC3MenuButton.webp);
}
.chap4{
  background-image: url(../assets/ItF1MenuButton.webp);
}
.chap5{
  background-image: url(../assets/ItF2MenuButton.webp);
}
.chap6{
  background-image: url(../assets/ItF3MenuButton.webp);
}
.chap7{
  background-image: url(../assets/CotC1MenuButton.webp);
}
.chap8{
  background-image: url(../assets/CotC2MenuButton.webp);
}
.chap9{
  background-image: url(../assets/CotC3MenuButton.webp);
}

main > img{
  position: absolute;
  bottom:-7.5%;
  right:-5%;
  width: 500px;
  aspect-ratio: 1/1;
}
