main{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-top: 35vh;
    margin-left: 45vw;
}
.fight{
    width:130px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 5px solid #010000;
    background-color: #eaaf00;
    border-radius: 20px;
}