@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35vh;
    flex-wrap: wrap;
}
.fight{
    width:130px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 5px solid #010000;
    background-color: #eaaf00;
    border-radius: 20px;
}

figcaption > .fight{
    width:fit-content;
    margin-top:5px;
    font-size:large;
}

.team{
    font-family: 'Roboto',sans-serif;
    width:25vw;
    height: fit-content;
    position:fixed;
    left:0%;
    top:12%;
    background-color: #eaaf00;
    display:flex;
    padding:3px;
    flex-wrap: wrap;
    gap: 2px;
    border-start-end-radius: 5px;
    border-end-end-radius: 5px;
}

figure.enemy{
    font-family: 'Roboto',sans-serif;
    border:1px solid black;
    text-align: center;
    width: 20vw;
    height: fit-content;
    max-height: 20vh;
    display: flex;
    flex-wrap: wrap;
}
figure.enemy img{
    width:25%;
    aspect-ratio: 1/1;
}
figure.enemy div{
    width:100%;
}
figure.enemy figcaption{
    border-top: 1px solid black;
    height:10%;
    font-weight: bold;
    font-size: larger;
    width:100%;
}
figure.enemy .stats{
    width:50%;
    border-top: 1px solid black;
    border-collapse: collapse;
}
figure.enemy .stats:first-of-type{
    box-shadow: 1px 0 #010000;
}
.cat{
    font-weight: 600;
    background-color: rgb(65, 65, 65);
    height:10vh;
    width:100vw;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "image name xp xp"
                         "image hp hp hp";
    gap:3px;
    padding: 5px;
    font-family: Helvetica, sans-serif;
    place-items: center;
}
.catimage{
    height: 100%;
    width: fit-content;
    margin-bottom: 1px;
    grid-area: image;
}
.catimage img{
    height: 100%;
    aspect-ratio: 1/1;
    display: inline;
}
.cat-name, .cat-hp{
    display: inline-block;
}
.cat-name, .cat-xp{
    margin-top:2px;
}
.cat-name{
    grid-area: name;
    color: white;
    font-weight: bold;
    font-size: larger;
    padding-top:3px;
}
.cat-hp{
    margin:0;
    grid-area: hp;
}
.cat-xp{
    grid-area: xp;
}

.fighter, .baddie{
    width:50%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.fighter img, .baddie img{
    width:50%;
    aspect-ratio: 1/1;
}

.arena h2{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

.arena p{
    width: 100%;
    text-align: center;
}
.arena{
    display: flex;
    background-color: aliceblue;
    
}
div.enemy{
    width:100%;
    display: flex;
    justify-content: center;
}


.battle, .flee{
    width:10vw;
    background: linear-gradient(45deg, yellow 10%, #eaaf00 90%);
    border: 1px solid #010000;
    margin: 1px;
    font-family:'Roboto';
}