body{
    background-color: beige;
}
.title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: xx-large;
    margin-left: 760px;
    margin-top: 0px;
    position:relative;
    width:350px
}
.title{
    animation: titleSlide 3s;
    -moz-animation: titleSlide 3s;
    animation-fill-mode: forwards;
}
@keyframes titleSlide{
    0% {
        transform: translateY(-300px);
    }
    25% {
        transform: translateY(300px);
    }
    50% {
        transform: translateY(200px);
    }
    100% {
        transform: translateY(250px);
    }
}
.play_button{
    margin-left: 0px;
    position: relative;
    width:140px;
    height:auto;
    animation: butSlide 2000ms;
    -moz-animation: butSlide 2000ms;
    animation-fill-mode: forwards;
    margin-top: 260px;
}
.play{
    height: 70px;
    width:240px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 10px solid rgb(224, 150, 12);
    background-color: rgb(238, 206, 24);
    border-radius: 20px;
}
@keyframes butSlide {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(815px);
    }
}
.mute_button{
    height: 30px;
    width:140px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 5px solid rgb(224, 150, 12);
    background-color: rgb(238, 206, 24);
    border-radius: 5px;
}
